<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cmpt.ws</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <nav>

    <section>

      <article>
        
        <a href="/">
          <h1>CMPT.WS</h1>
        </a>
        
      </article>

    
  </nav>
  

  <main class="hero">

    <header>
      <h1>Compact Your URL</h1>
    </header>
    
    {% if messages %}
    <div class="messages messages-error">
      {% for message in messages %}
        {% if message.tags == 'error' %}
          <p class="error">{{ message }}</p>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}


    <form action="/createURL" method="post">
      {% csrf_token %}
      
    <label for="url">URL</label>
    <input type="text" name="url" id="url" placeholder="https://google.com">
    
    <label for="alias">Alias</label>
    <!-- <small>https://cmpt.ws/</small> -->
    <input type="text" name="alias" id="alias" onkeyup="this.value = this.value.toLowerCase()" placeholder="google">
    
    <button type="submit">Compact!</button>
    
  </form>
  
</main>




</body>
</html>