<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <nav>

    <section>

      <article>
        
        <a href="/">
          <h1>CMPT.WS</h1>
        </a>
        
      </article>

    
  </nav>

  <div class="hero">

    <header>
      <h1>URL Info</h1>
    </header>

    <section id='url-info'>
      
      <article>
        <label>Long URL:</label>
        <p>{{ long_url }}</p>
        <label>Alias:</label>
        <p>{{ alias }}</p>
        <label>Short URL Link:</label>
        <a href='/{{alias}}' target="_blank">{{ short_url }}</a>
      
      </article>

    </section>
  </div>
</body>
</html>